@import "tailwindcss";

@theme {
  --color-brand-red: #ED3237;
  --color-brand-dark: #4A4A52;
  --color-brand-black: #000000;
  --color-brand-light: #F3F4F6;
  --color-brand-white: #FFFFFF;

  --font-montserrat: var(--font-montserrat);
  --font-inter: var(--font-inter);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
